version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - adaptive-net

  backend:
    build: .
    container_name: adaptive-backend
    env_file:
      - ./.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - adaptive-net

  frontend:
    build: ./client
    container_name: adaptive-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - adaptive-net

networks:
  adaptive-net:
    driver: bridge

volumes:
  mongo_data:
